.container{;
    background: #07252d;
    color: #ffffff;
    display: flex;
    position:absolute;
    left:5%;
    top: 300px;    
}
.container h1{
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
h2{
    position:absolute;
    left:5%;
    top: 760px;;
    font-size: 60px;
    font-weight: 300;
    color: rgb(243, 10, 10);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
h4{
    position:absolute;
    top: 850px;
    left: 5%;
    font-size: 25px;
    font-weight: 50;
    color: rgb(109, 221, 113);
    font-family:cursive;
    font-style: italic ;
}

